{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="mb-4">Dashboard</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Cashflows</h3>
                <ul class="list-group">
                    {% for cashflow in current_user.cashflows %}
                        <li class="list-group-item">
                            {{ cashflow.amount }} on {{ cashflow.date.strftime('%Y-%m-%d') }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Workflows</h3>
                <ul class="list-group">
                    {% for workflow in current_user.workflows %}
                        <li class="list-group-item">
                            {{ workflow.description }} on {{ workflow.date.strftime('%Y-%m-%d') }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Allocations</h3>
                <ul class="list-group">
                    {% for allocation in current_user.allocations %}
                        <li class="list-group-item">
                            {{ allocation.amount }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Payments</h3>
                <ul class="list-group">
                    {% for payment in current_user.payments %}
                        <li class="list-group-item">
                            {{ payment.amount }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
